fastapi
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
SQLAlchemy
mysqlclient
databases[mysql]
alembic
python-dotenv
# python-jose==3.3.0
python-jose[pyjwt]
python-multipart==0.0.5
passlib==1.7.4

#dev test
pytest
pytest-asyncio
httpx